- provide(:title, 'Home')

/ %button.btn.btn-large.btn-default#animated-btn
/   Navigate

/ %button.btn.btn-large.btn-success.home-thumb
/   Single play

/ %button.btn.btn-large.btn-success.home-thumb
/   Multiplayer

/ %button.btn.btn-large.btn-success.home-thumb
/   Compete

/ %button.btn.btn-large.btn-success.home-thumb
/   Social

.container
  %ul#pills.nav.nav-pills
    %li.active
      %a.home-pills{href: '#', "data-toggle" => "pill", onclick: 'return false' } Single Play
    %li
      %a.home-pills{href: '#', "data-toggle" => "pill", onclick: 'return false' } Multiplayer
    %li
      %a.home-pills{href: '#', "data-toggle" => "pill", onclick: 'return false' } Compete
    %li
      %a.home-pills{href: '#', "data-toggle" => "pill", onclick: 'return false' } Social


/ #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
/   / Indicators
/   %ol.carousel-indicators
/     %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
/     %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
/     %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
/   / Wrapper for slides
/   .carousel-inner
/     .item.active
/       %img{ src: "assets/aaron-ramsey-shush.jpg"}/
/       .carousel-caption
/         It's aaron ramsey
/     .item
/       %img{ src: "assets/aaron-ramsey-shush.jpg"}/
/       .carousel-caption
/         It's aaron ramsey the 2nd
/     .item
/       %img{ src: "assets/aaron-ramsey-shush.jpg"}/
/       .carousel-caption
/         It's aaron ramsey the 3rd, king of kings

/   / Controls
/   %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
/     %span.glyphicon.glyphicon-chevron-left
/   %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
/     %span.glyphicon.glyphicon-chevron-right






