- provide(:title, 'Home')

/ %button.btn.btn-large.btn-default#animated-btn
/   Navigate

/ %button.btn.btn-large.btn-success.home-thumb
/   Single play

/ %button.btn.btn-large.btn-success.home-thumb
/   Multiplayer

/ %button.btn.btn-large.btn-success.home-thumb
/   Compete

/ %button.btn.btn-large.btn-success.home-thumb
/   Social

.container
  %ul#pills.nav.nav-pills
    %li.active
      %a.home-pills{href: '#', "data-toggle" => "pill" } Single Play
    %li
      %a.home-pills{href: '#', "data-toggle" => "pill" } Multiplayer
    %li
      %a.home-pills{href: '#', "data-toggle" => "pill" } Compete
    %li
      %a.home-pills{href: '#', "data-toggle" => "pill" } Social