- provide(:title, 'Home')

%button.btn.btn-large.btn-default#animated-btn
  Navigate

%button.btn.btn-large.btn-success.home-thumb
  Single play

%button.btn.btn-large.btn-success.home-thumb
  Multiplayer

%button.btn.btn-large.btn-success.home-thumb
  Competition

%button.btn.btn-large.btn-success.home-thumb
  Social
