-provide(:title, 'Home')

.container
  .row
    .col-xs-2
    .col-xs-8
      .jumbotron
        %h4.align-center Welcome to

  .row
    .col-xs-2
    .col-xs-8
      .jumbotron
        %h4.align-center How it works