%h3 New Message

=form_for [@user, @message] do |f|
  =render 'shared/error_messages', subject: @message
  =f.label :recipient
  =f.text_field :recipient

  =f.label :body
  =f.text_area :body

  =render 'shared/submit_button', f: f, button_text: "Send"

  =debug(params)