-provide(:title, "Sign In")

.container
  .row
    .col-md-6
      .thumbnail
        %h4.signupheader Sign up to LetMeGolf and join the community
        .caption
          .form-horizontal
            =form_for(:session, url: sessions_path ) do |f|
              =render 'shared/username', f: f, placeholder_text: "Username"
              =render 'shared/password', f: f
              =render 'shared/submit_button', f: f, button_text: "Enter Lmg"
          %p
            New to Lmg?
            =link_to "Join the community", signup_path
            and get on the golf course!