- provide(:title, 'Lmg Sign Up')

.container
  .row
    .col-md-6
      .thumbnail
        %h4.signupheader Sign up to LetMeGolf and join the community
        .caption
          .form-horizontal
            =form_for @user do |f|
              =render 'shared/error_messages', subject: @user
              =render 'shared/username', f: f, placeholder_text: "Between 4 and 20 characters.."
              #username_check
              =render 'shared/email', f: f, placeholder_text: "Choose an email.."
              =render 'shared/password', f: f, password_label: :password, placeholder: "Six or more characters"
              =render 'shared/password_confirmation', f: f
              =render 'shared/submit_button', f: f, button_text: "Join Up!"
    .col-md-1


    / .col-md-5
    /   .thumbnail
    /     %h4#referafriend Refer a friend and receive cash!
    /     .caption
    /       .form-horizontal
    /         =form_for @user do |f|
    /           =render 'email', f: f, placeholder_text: "What's their email?"
    /           =render 'submit_button', f: f, button_text: "Refer!"






  /   .form-group
  /     %label.col-sm-3.control-label{for: "emailSignUp"} Email
  /     .col-sm-10
  /       %input#emailSignUp.form-control{placeholder: "...and email address", type: "email"}/


  /   .form-group
  /     %label.col-sm-2.control-label{for: "passwordSignUp"} Password
  /     .col-sm-10
  /       %input#passwordSignUp.form-control{placeholder: "Has to be 8 or more characters", type: "password"}/


  /   .form-group
  /     %label.col-sm-2.control-label{for: "passwordConfirmationSignUp"} Confirm password
  /     .col-sm-10
  /       %input#passwordConfirmationSignUp.form-control{placeholder: "Let us confirm your password", type: "password"}/

  /   .form-group
  /     .col-sm-offset-2.col-sm-10
  /       .checkbox
  /         %label
  /           %input{type: "checkbox"}/
  /           Remember me
  /   .form-group
  /     .col-sm-offset-2.col-sm-10
  /       %button.btn.btn-success{type: "submit"} Sign Up


  / #referafriend-form-container
  /   %h3.referafriendheader A friend who plays golf?
  /   %h3.referafriendheader Refer them and earn cash

  /   .form-group
  /     %label.col-sm-3.control-label{for: "emailReferafriend"} Email
  /     .col-sm-10
  /       %input#emailReferafriend.form-control{placeholder: "What's their e-mail address?", type: "email"}/

