- provide(:title, 'Lmg Sign Up')

.container
  .row
    .col-md-8
      .thumbnail
        %h3.signupheader Sign up to LetMeGolf and
        %h3.signupheader join the community!
    .col-md-4
      .thumbnail
        %h3.signupheader Sign up to LetMeGolf and
        %h3.signupheader join the community!



  / #signup-form-container
  /   .form-group
  /     %label.col-sm-2.control-label{for: "userNameSignUp"} Username
  /     .col-sm-10
  /       %input#userNameSignUp.form-control{placeholder: "Choose a name...", type: "password"}/

  /   .form-group
  /     %label.col-sm-3.control-label{for: "emailSignUp"} Email
  /     .col-sm-10
  /       %input#emailSignUp.form-control{placeholder: "...and email address", type: "email"}/


  /   .form-group
  /     %label.col-sm-2.control-label{for: "passwordSignUp"} Password
  /     .col-sm-10
  /       %input#passwordSignUp.form-control{placeholder: "Has to be 8 or more characters", type: "password"}/


  /   .form-group
  /     %label.col-sm-2.control-label{for: "passwordConfirmationSignUp"} Confirm password
  /     .col-sm-10
  /       %input#passwordConfirmationSignUp.form-control{placeholder: "Let us confirm your password", type: "password"}/

  /   .form-group
  /     .col-sm-offset-2.col-sm-10
  /       .checkbox
  /         %label
  /           %input{type: "checkbox"}/
  /           Remember me
  /   .form-group
  /     .col-sm-offset-2.col-sm-10
  /       %button.btn.btn-success{type: "submit"} Sign Up


  / #referafriend-form-container
  /   %h3.referafriendheader A friend who plays golf?
  /   %h3.referafriendheader Refer them and earn cash

  /   .form-group
  /     %label.col-sm-3.control-label{for: "emailReferafriend"} Email
  /     .col-sm-10
  /       %input#emailReferafriend.form-control{placeholder: "What's their e-mail address?", type: "email"}/

