- provide(:title, 'Sign Up')

.container
  .row
    .col-md-6
      .thumbnail
        %h4.signupheader Sign up to LetMeGolf and join the community
        .caption
          .form-horizontal
            =form_for @user do |f|
              =render 'shared/error_messages', subject: @user
              =render 'shared/username', f: f, placeholder_text: "Between 4 and 20 characters.."
              #username_check
              =render 'shared/email', f: f, placeholder_text: "Choose an email.."
              =render 'shared/password', f: f, password_label: :password, placeholder: "Six or more characters"
              =render 'shared/password_confirmation', f: f
              =render 'shared/submit_button', f: f, button_text: "Join Up!"
    .col-md-1


