/ subject is @user or @message for example

- if subject.errors.any?
  .alert.alert-warning
    -if subject.errors.count > 1
      Some details are incorrect
    -else
      One detail is incorrect
    -subject.errors.full_messages.each do |msg|
      %li=msg


