.container#inbox-container
  .row
    .col-xs-8
      .jumbotron
        %ul
          - messages.each do |msg|
            = send_or_received
            %span
              = time_ago_in_words(msg.created_at)
              ago
              = from_or_to
            %br
            = msg.body