// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inbox-nav-container {
    border: 1px solid #5e5;
    border-radius: 5px;
    border-width: 3px;
}

.container#inbox {
    margin-top: 50px;
}

.container#sent {
    background-color: #8e8;
}

.jumbotron > ul > a{
    font-size: 18px;
    margin-right: 5%;
}

.message-body {
    font-size: 16px;
}

.nav-pills.inbox {
  width: 100%;
}

textarea#new-msg {
    width: 70%;
    margin-left: 20%;
    font-size: 16px;
}

#new_message .control-label {
    margin-top: 5px;
}

span#sender {
    font-size: 18px;
    font-weight: bold;
}