@import "bootstrap";

$lightblue: #05d;

/* body --------------------------------*/

body {
    text-align: center;
    margin-left: -75px;
    padding-top: 60px;
}

/* header------------------------------- */

.logo {
    float: left;
    margin-right: 10px;
    font-size: 1.9em;
    letter-spacing: -0.5px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    color: $lightblue;
    &:hover {
        text-decoration: none;
        color: #009fdd;
    }
}

.navbar {
    .navbar-inner {
        background-color: #3d3;
        background-image: none;
        #signup-link {
            background-color: #fff;
            animation-duration: 3s;
            animation-name: slidein;
            &:hover {
                background-color: #3d3;
            }
        }
    }
}

.navbar .nav > li > a {
    color: #55f;
    font-weight: bold;
}

#signup-link, #signup-replacement {
    font-size: 16px;
}

/* footer --------------------------- */

footer {
    font-weight: bold;
}

/* bootstrap ----------------------------------*/

.thumbnail {
    margin: 20px;
    padding: 20px;
    display: inline-block;
    width: 300px;
    padding: 0 100;
}

.btn {
    -webkit-box-sizing: border-box;
    padding: 10 20;
    margin: 20 0;
}

/* dropdown ------------------------------ */

.dropdown-header {
    font-size: 10px;
    background-color: #bdd;
}

/* nav pills -----------------------*/

.nav-pills {
    margin-left: 30px;
}

.nav-pills > .active > a, .nav-pills > li > a {
    padding: 15 75;
}