@import "bootstrap";

/* ------------------- header------------------------------- */

.nav-pills > li.active > a {
    color: rgb(12,122,21);
    background-color: #86E486;
    margin-bottom: 5px;
    &:hover {
        color: rgb(12,122,21);
        background-color: #86E486;
    }
}

.nav-pills.nav-stacked > li > a {
    width: 33%;
    &:hover {
        color: rgb(12,122,21);
        background-color: #66D466;
    }
}

#header-pills {
    position: fixed;
}

/* ------------------- footer --------------------------- */


/* ------------------ bootstrap ----------------------------------*/
