@import "bootstrap";

body {
    padding-top: 100px;
}

/* ------------------- header------------------------------- */

.nav-pills > li.active > a {
    color: rgb(12,122,21);
    background-color: #5e5;
    margin: 0px -2px;
    &:hover {
        color: rgb(12,122,21);
        background-color: #4d4;
    }
}

.nav-pills > li > a {
    &:hover {
        color: rgb(12,122,21);
        background-color: #5e5;
    }
}


#navigation-id {
    border: 2px solid #5e5;
    border-radius: 5px;
    border-bottom-width: 5px;
    height: 42px;
    width: 80%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 9999;
}

/* ------------------- footer --------------------------- */


/* ------------------ bootstrap ----------------------------------*/

.badge {
    background-color: #3b3;
    color: white;
}
