%footer.navbar.navbar-fixed-bottom.navbar-inverse
  .navbar-inner
    .container
      = link_to 'Home', root_path, class: 'logo'
      %nav
        %ul.nav.pull-right
          %li= link_to 'Contact', '#'
          %li= link_to 'Blog', '#'